* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    
  }
  .ui.cards{
    margin:.87em;
  }
  .ui.cards > .card > .image {
    height: 250px;
    padding: 20px;
    background: #fff;
    margin: auto;
  }
  .ui.cards > .card > .image > img {
    height: 100%;
    max-width: 100%;
    width: auto;
  }
  .ui.cards > .card > .content > .header {
    height: 48px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .ui.cards > .card > .content > .description {
    height: 36px;
    margin-bottom: 0px;
    overflow: hidden;
  }
  .ui.cards > .card .meta.price {
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
    font-weight: 600;
  }
  
  .ui.cards > .card .meta.price > a {
    font-size: 1.3rem;
    color: #222;
  }
  
  .ui.menu.fixed {
    height: 60px;
    padding-top: 15px;
  }
  .ui.table td {
    padding-right:150px;
  }
  .ui.grid.container {
    margin-top: 50px;
    display:flexbox;
  }
  .ui.grid.container.list{
    background-color: #fcf5f5;
  }
  .ui.animated.button{
    margin-top: -5px;
    padding-right: 0px;
    margin-left:70px;
    background-color: #ff3e6c;
    border: 1px solid #ff3e6c;
    color: #fff;
    font-size: 15px;
   
}
  
  .ui.grid > .row {
    background: #fff;
  }
  .ui.grid > .row > .column.lp {
    padding: 20px 40px 20px 20px;
    align-self: flex-start !important;
  }
  .ui.grid > .row > .column.rp {
    padding: 20px 20px 20px 40px;
    text-align: left;
    align-self: flex-start !important;
  }
  
  .ui.grid > .row > .column > img,
  .ui.grid > .row > img {
    height: 100%;
  }
  .ui.placeholder .header:not(:first-child):before,
  .ui.placeholder .image:not(:first-child):before,
  .ui.placeholder .paragraph:not(:first-child):before {
    display: none;
  }
  
  .ui.label,
  .ui.labels .label {
    font-size: 22px;
  }
  
  .column.rp h1 {
    color: #333;
  }
  .column.rp p {
    font-size: 18px;
    color: #777;
  }
  .ui.placeholder.segment .column .button,
  .ui.placeholder.segment .column .field,
  .ui.placeholder.segment .column textarea,
  .ui.placeholder.segment .column > .ui.input {
    background-color: #ff3e6c;
    border: 1px solid #ff3e6c;
    color: #fff;
    font-size: 18px;
    margin-left: 0;
  }
  /* Cart */
.cart-container {
  padding: 6rem 5rem;
  background-color: #fcf5f5;
}
.cart-container h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}
.cart-container .titles {
  margin: 2rem 0 1rem 0;
}
.cart-container .titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}

.order-item,
.cart-container .order {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}
.order-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}
.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}
.cart-container .titles .product-title {
 padding-left: 0.5rem;
 padding-left: 0.5rem;
 margin-bottom:-21px;
}
.cart-container .order .order-title {
  padding-left: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom:-21px;
 }
.cart-container .titles .total {
  padding-right: 0.1rem;
  justify-self: right;
}
.cart-item .cart-product {
  display: flex;
}
.cart-item .cart-product img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}
.cart-item .cart-product h3 {
  font-weight: 400;
}
.cart-item .cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}
.cart-item .cart-product button:hover {
  color: black;
}

.cart-item .cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
}
.cart-item .cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}
.cart-item .cart-product-quantity .count {
  padding: 0.7rem 0;
}
.cart-item .cart-product-total-price {
  padding-right: 0.5rem;
  justify-self: right;
  font-weight: 700;
}


/* cart summary */
.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}
.cart-summary .clear-btn {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: 0.5px solid rgb(177, 177, 177);
  color: gray;
  background: none;
  outline: none;
  cursor: pointer;
}
.cart-checkout {
  width: 270px;
  max-width: 100%;
}
.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.cart-checkout .amount {
  font-weight: 700;
}
.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}
.cart-checkout button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #4b70e2;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}
.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}
.continue-shopping a,
.start-shopping a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}
.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsive */

@media (max-width: 665px) {
  /* NavBar */
  .nav-bar {
    padding: 0 1rem;
  }
  .nav-bar h2 {
    font-size: 30px;
  }

  /* Cart */
  .cart-container {
    padding: 2rem;
  }
  .cart-container .titles {
    display: none;
  }
  .cart-item,
  .cart-container .titles {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .cart-item .cart-product-total-price {
    justify-self: left;
  }
  .cart-summary {
    flex-direction: column;
  }
  .cart-summary .clear-btn {
    margin-bottom: 2rem;
  }
}